apiVersion: v1
kind: ConfigMap
metadata:
  name: pilot-load-kubeconfig
  namespace: pilot-load
data:
  kubeconfig.yaml: |
    apiVersion: v1
    clusters:
    - cluster:
        server: http://apiserver.pilot-load:18090
      name: load
    contexts:
    - context:
        cluster: load
        user: fake
      name: load
    current-context: load
    kind: Config
    preferences: {}
    users:
    - name: fake
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pilot-load-reproduce
  namespace: pilot-load
  labels:
    app: pilot-load-reproduce
spec:
  replicas: 1
  template:
    metadata:
      name: pilot-load-reproduce
      annotations:
        sidecar.istio.io/inject: "false"
        prometheus.io/scrape: "true"
        prometheus.io/port: "8765"
      labels:
        app: pilot-load-reproduce
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              namespaces: [istio-system]
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - istiod
              topologyKey: kubernetes.io/hostname
      # May take a while to shut down
      terminationGracePeriodSeconds: 2000
      imagePullSecrets:
      - name: gcr-io
      containers:
      - name: pilot-load
        image: gcr.io/howardjohn-istio/pilot-load
        imagePullPolicy: Always
        command: [ "/bin/sh", "-ec", "while :; do echo '.'; sleep 5 ; done" ]
        env:
        - name: KUBECONFIG
          value: /etc/config/kubeconfig/kubeconfig.yaml
        resources:
          requests:
            cpu: 2000m
            memory: 4Gi
        volumeMounts:
        - name: kubeconfig
          mountPath: /etc/config/kubeconfig
      volumes:
      - name: kubeconfig
        configMap:
          name: pilot-load-kubeconfig
  selector:
    matchLabels:
      app: pilot-load-reproduce